.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.infield {
    margin-bottom: 15px;
    width: 100%;
}

/*입력란 테투리*/
.infield input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.signup-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #000000;
    /* 파란색 배경 */
    color: #ffffff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F5F5F5;
    /* 파란색 호버 배경 변경 */
}

/*비밀번호 두개가 같으면 체크로 뜨는듯*/

.checkmark {
    color: green;
    margin-left: 10px;
}

/* 설명 텍스트 스타일 */
.description-text {
    font-size: 10px;
    font-style: italic;
    color: #333;
    margin-bottom: 100px;
    text-align: center;
    line-height: 1;
    
}