
/*login button */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
  color: #000000; /* 기본 글자 색상 변경 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  position: relative;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px; /* 왼쪽 상단에 위치 */
  display: flex;
  align-items: center;
}

.daemonset-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.nav-links {
  position: absolute;
  top: 20px;
  right: 20px; /* 오른쪽 상단에 위치 */
  display: flex;
  gap: 10px;
}

.nav-links a {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #007bff; /* 파란색 호버 배경 변경 */
}

.user-info-wrapper {
  position: fixed;
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
  display: flex;
  align-items: center;
}

.user-info {
  margin-right: 10px; 
}